{% extends "base.html" %}

{% comment %}TODO: Add back button! {% endcomment %}
{% comment %}TODO: EDIT GAME {% endcomment %}

{% block title %}
{{game.name}} - store page
{% endblock %}

{% block content %}
    <h1 style="display:inline-block">{{ game.name }}</h1>
    {% if perms.viewer.edit_game %}
        <a href="{% url 'game_edit' game.id %}" class="btn-primary" style="background-color:black">EDIT</a>
    {% endif %}
    <hr style="border: 1px solid black">
    <span class="boxart">
        <img src=" {{image.boxart.url}} "
             alt=" {{image.description}} "
             >
    </span>

    {% for genre in game.genres.all %}
        {{ genre }}
    {% endfor %}

    <div class="row">
        <div class="col-md">

            <p>Developer:
                {% for dev in game.developers.all %}
                    <a href="{% url 'developer' dev.id %}">{{ dev }}</a>
                {% endfor %}
            </p>


            <p>Publisher:
                {% for pub in game.publishers.all %}
                    <a href="{% url 'publisher' pub.id %}">{{ pub }}</a>
                {% endfor %}
            </p>
        </div>
        <div class="col-md">
            <p>Release Date: {{game.release_date.day}}. {{game.release_date.month}}, {{game.release_date.year}}</p>
        </div>
    </div>
    <p style="color: green; font-size: 25px;display:inline-block"><strong>{{game.price}}€</strong></p>
    {% if request.user.is_authenticated %}
            {% if game in profile.owned_games.all %}
                <p>You already own this game</p>
            {% else %}
                <a href="{% url 'buy_game' game.id %}" class="btn-primary" style="background-color:green;padding: 5px"><B>PURCHASE</B></a>
            {% endif %}
    {% endif %}
    <hr>
    <h3>Game Description</h3>
    {{game.description}}
    <hr>
    <h3>System Requirements</h3>
    {{game.system_reqs}}
{% endblock %}