{% extends "base.html" %}

{% comment %}TODO: Add back button! {% endcomment %}

{% block title %}
{{game.name}} - store page
{% endblock %}

{% block content %}
    <h1 style="display:inline-block">{{ game.name }}</h1>
    {% if perms.viewer.edit_game %}
        <a href="{% url 'game_edit' game.id %}" class="btn-primary" style="background-color:black">EDIT</a>
    {% endif %}
    <hr style="border: 1px solid black">
    {% if image in game.image.all %}
        {% for image in game.image.all %}
            <span class="boxart">
                <img src=" {{image.image.url}} "
                     alt=" {{image.description}} "
                     style='height: auto; width: 100%; max-width:256;max-height:256'>
            </span>
        {% endfor %}
        {% if perms.viewer.edit_img %}
            <a href="{% url 'img_edit' image.id %}" class="btn-primary" style="background-color:black">EDIT</a>
        {% endif %}
    {% endif %}
    <br>



    <div class="row">
        <div class="col-md">
            <p>Genres:
                {% for genre in game.genres.all %}
                   <a href="{% url 'genre' genre.id %}">{{ genre }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>

            <p>Developer:
                {% for dev in game.developers.all %}
                    <a href="{% url 'developer' dev.id %}">{{ dev }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>


            <p>Publisher:
                {% for pub in game.publishers.all %}
                    <a href="{% url 'publisher' pub.id %}">{{ pub }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="col-md">
            <p>Release Date: {{game.release_date.day}}. {{game.release_date.month}}, {{game.release_date.year}}</p>
        </div>
    </div>
    <p style="color: green; font-size: 25px;display:inline-block"><strong>{{game.price}}€</strong></p>
    {% if request.user.is_authenticated %}
            {% if game in profile.owned_games.all %}
                <p>You already own this game</p>
            {% else %}
                <a href="{% url 'buy_game' game.id %}" class="btn-primary" style="background-color:green;padding: 5px"><B>PURCHASE</B></a>
            {% endif %}
    {% endif %}
    <hr>
    <h3>Game Description</h3>
    {{game.description}}
    <hr>
    <h3>System Requirements</h3>
    {{game.system_reqs}}
{% endblock %}