{% extends "base.html" %}

{% block title %}
    {{ publisher }}
{% endblock %}

{% block content %}
    <h1 style="display:inline-block">{{ publisher }}</h1>
    {% if perms.viewer.edit_pub %}
        <a href="{% url 'pub_edit' publisher.id %}" class="btn-primary" style="background-color:black;padding:5px">EDIT</a>
    {% endif %}
    <p>{% if publisher.website %}
        <a href="{{publisher.website}}">{{ publisher.website }}</a>
    {% endif %}</p>
    <hr style="border: 1px solid black">
    <h2>About</h2>
    {{publisher.about}}
    <hr style="border: 1px solid black">
    {% for game in publisher.games.all %}
        <li><a href="{% url 'game' game.id %}">{{ game }}</a></li>
    {% endfor %}
{% endblock %}
