{% extends "base.html" %}

{% block title %}
{{ profile }}
{% endblock %}

{% block content %}
<h1>{{ profile.nickname }}</h1>
<div style="color:#a9a9a9"><p><i>{{ profile }}</i></p></div>

<hr>
<h3 style="display:inline-block">Bio</h3>
{% if request.user.is_authenticated and user == profile.user %}
    <a href="{% url 'profilebio_update' user.id %}" class="btn-primary" style="background-color:black">Change Bio</a>
{% endif %}
<p>{{ profile.biography }}</p>
<h3>Owned Games:</h3>
<ul>
    {% for game in profile.owned_games.all %}
        <li><a href="{% url 'game' game.id %}">{{ game }}</a></li>
    {% empty %}
        {% if request.user.is_authenticated and user == profile.user %}
            You have no games yet.
        {% else %}
            User has no games.
        {% endif %}
    {% endfor %}
</ul>
<!--    {% if request.user.is_authenticated %}-->
<!--        <form action="" method="post">-->
<!--            {% csrf_token %}-->
<!--            <table>{{ comment_form.as_table }}</table>-->
<!--            <button type="submit">Comment</button>-->
<!--        </form>-->
<!--    {% endif %}-->
<!--<hr>-->
<!--    {% for comment in user.comment.all %}-->
<!--        <div class="bg-light rounded mt-2 p-2 position-relative">-->
<!--            <span>{{ comment.commenter }}</span>-->
<!--            <span class="font-italic">{{ comment.created|date:'d. m. Y H:i' }}</span>-->
<!--            {% if review.created != review.updated %}-->
<!--                <span class="font-italic">(edited {{ comment.updated|date:'d. m. Y H:i' }})</span>-->
<!--            {% endif %}-->
<!--            {% if request.user == comment.commenter.user %}-->
<!--                <a href="{% url 'comment_delete' comment.id %}">Delete</a>-->
<!--            {% endif %}-->
<!--            <div>-->
<!--                Comment: {{ comment.comment }}-->
<!--            </div>-->
<!--        </div>-->
<!--    {% empty %}-->
<!--        There are no comments here yet.-->
<!--    {% endfor %}-->
{% endblock %}